---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome to my journey through the <strong>galaxy.</strong></h1>
<h2>Read along with me as I embark on my adventure. Click through my entries listed above.</h2>