body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #6978bc;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    transform: scale(1.1);
    color: rgb(156, 243, 255);
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(195, 34, 163);
    background: linear-gradient(45deg, rgb(239, 103, 168) 0%, rgb(239, 255, 66) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::selection {
    background-color: rgb(156, 243, 255);
    color: azure;
}

img.about {
    opacity: 0.5;
}

